# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Sample JSON file to reference format and types of information stored
/src/main/java/seedu/duke/NUSmodsFetcher/CG2271.json

# IDE settings
/.vscode/